* {
    border: 1px solid black;
}

body {
    background-color: rgb(235, 235, 235);
}

header {
    display: flex;
    background-color: black;
    color: white;

}



main {
    display: grid;
    grid-template-columns: 4;
    gap: 0px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1 / 5;
    grid-row: 1;
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

#picture-one {
    width: 50%;
    height: 75%;

}
.two {
    grid-column: 1 / 5;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.card {
  display: flex; 
  flex-direction: column; 
}

.card-content {
  flex-grow: 1; 
  display: flex; 
  flex-direction: column;
}

.card-link {
  margin-top: auto; 
}

.three {
    grid-column: 1 / 5;
    grid-row: 3;
    padding: 20px;
    text-align: center;
}
.four {
    grid-column: 1 / 5;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.modal {
  display: flex;
  background: rgb(49, 121, 255);
  width: 480px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.top-container {
  flex: 1;
  display: flex;
  justify-content: space-around;

}

.middle-container {
  padding: 10px;
}

.bottom-container {
  padding: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-right: auto;
  
}


.icon-container {
  display: flex;
  align-items: stretch;
}

.close-container {
  display: flex;
}


button {
  padding: 8px 16px;
  border-radius: 8px;
}


button.continue {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}
